
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-weight:400;
	color:#00535F;
	background-color: rgb(251, 251, 251);

}
.haed{
	padding-bottom: 46px;
}
.nav{
	background-color: #016D7C;
}
body  section{
	padding-bottom: 75px;
}

a:hover {
	outline: none;
	text-decoration:none;
	color:#016D7C;
    font-weight: bold;
}

a:focus {
	outline:none;
	outline-offset: 0;
}

a {

    font-weight: bold;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color:#fff;
}
.pagination > li > a, .pagination > li > span {
    color: #fc7700;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #00535f;
    border-color: #00535f;
}
h2 {
	font-size: 40px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia,Times New Roman,serif;
	text-transform: uppercase;
}
h3,
.h3 {
  font-size: 24px;
  text-shadow: 2px 2px 4px #999;
}
      /* --------------------------HEADER-------------------------- */
.slider-btn {
	background-color:#016D7C;
	color: #FFF;
	box-shadow: inset 0 0 0 2px #016D7C;
	text-transform: uppercase;
	width: 190px;
	text-align: center;
	height: 55px;
	line-height:55px;
	padding: 0;
	font-size: 18px;
	font-weight:800;
	border: 0;
	transition: all 0.3s ease 0s;

}

.slider-btn:hover {
	background-color:#43484E;
	-webkit-box-shadow: inset 0 0 0 2px #43484E;
	box-shadow: inset 0 0 0 2px #43484E;
	color:#fff
}
.row{
	margin: 0;
}

.bouton-connexion{
	 width: 100%;
}
.bouton-connexion a{
	 float: right;
}
.titre{
height: 250px;
width: 100%;
}
.titre h1{
font-family: 'Kaushan Script', cursive;
text-shadow: 4px 4px 4px #aaa;
font-size: 50px;
text-align: center;
padding-top: 100px;
margin:0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color: #43484E;
}

/* --------------------------about-us-------------------------- */
.cadre{
	overflow: hidden; /* les dépassements seront masqués */
	word-wrap: break-word;
	height: 200px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	margin-bottom: 30px;
	padding-left: 10px;
	color: #FFF;
	border-radius: 6px / 10px;
    background-image: linear-gradient(to bottom, #008498 11%,  #00535F 56%);
	box-shadow: 0 0 65px #002C32 inset, 0 0 20px #00424C inset, 0 0 3px #001518;
}

.biopic img {
    border-radius: 33% 67%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}
.about{
	text-align: center;
}


/* --------------------------Sponsor-------------------------- */



/* ------------------------- footer -------------------------- */

footer{
	background-color: #43484e;
    display: block;
    box-sizing: inherit;

}
footer h4{
	color: silver;
}
h4{
	text-align: center;
	color: black;


}
.btn-primary:hover {
    background-color: #eee;
	color: #016d7c;
	border-color: #016d7c;
}


/*======================
======Portfolio CSS=====
========================*/

#portfolio {
  padding-bottom: 100px;
}

#portfolio p,
#portfolio h2 {
	margin-bottom:30px;
}

#portfolio
.portfolio-filter {
  margin-bottom:40px;
  margin-top:10px;
}

#portfolio
.portfolio-filter li {
  display: inline-block;
}

#portfolio
.portfolio-filter li a:hover,
#portfolio
.portfolio-filter li a:focus,
#portfolio
.portfolio-filter li a:active ,
#portfolio
.portfolio-filter li .active{
	border: 1px solid #fc7700;
	color: #686868;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
}

#portfolio
.portfolio-filter li a {
	color: #686868;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background: rgba(67, 72, 78, 0);
	opacity: .8;
	border: 1px solid rgba(252, 119, 0, 0);
	border-radius: inherit;
}

.portfolio-items > div{
  padding:0;
}

.portfolio-items img{
  width:100%;
}

.view {
  cursor: default;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width:100%;
}

.efffect h4 {
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s linear 0s;
}

.efffect h3 {
	opacity: 0;
	transform: scale(0);
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
}

.efffect img {
	transform: scaleY(1);
	-moz-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transition: all 0.7s ease-in-out 0s;
	-moz-transition: all 0.7s ease-in-out 0s;
	-webkit-transition: all 0.7s ease-in-out 0s;
	-o-transition: all 0.7s ease-in-out 0s;
}

.view img {
	display: block;
	position: relative;
}

.efffect .mask {
	background-color: #F6F6F6;
    border:4px solid #333333;
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
	opacity: 0
}

.view .mask, .view .content {
	height:100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width:100%;
}

.mask h3 {
	color: #43484E;
	font-family: cabin;
	font-size: 22px;
	font-weight: 700;
	margin-top: 30px;
	text-transform: uppercase;
	transition: height 500ms ease 0s;
}

.mask h4 {
	color:#000;
	font-family: roboto;
	font-size: 14px;
	font-weight: 200;
	padding: 0 35px 5px;
}

.mask i {
	border: 2px solid #333;
	border-radius: 50%;
	color: #333;
	font-size: 17px;
	margin-left: 8px;
	padding: 8px;
}

.mask i:hover{
	background-color:#fc7700;
	color:#fff;
}

.pagination{
	padding-left: 42%;
}
/*==================================
====== Portfolio Hover effect=======
====================================*/


.efffect img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.efffect .mask {
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   cursor: zoom-in;
}
.efffect h4 {
   background: transparent;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.efffect h3 {

   -ms-filter: "progid": DXImageTranwhite
   -ms-filter: "progid: DXImageTranwhite";
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.mask a i {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform:rotate(-180deg);
   -moz-transform:rotate(-180deg);
   -o-transform:rotate(-180deg);
   -ms-transform:rotate(-180deg);
   transform:rotate(-180deg);
   -webkit-transition:all 0.5s linear 0.7s;
   -moz-transition: all 0.5s linear 0.7s;
   -o-transition:all 0.5s linear 0.7s;
   -ms-transition:all 0.5s linear 0.7s;
   transition:all 0.5s linear 0.7s;
}
.efffect:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.efffect:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.efffect:hover h4,.efffect:hover h3,.efffect:hover a i {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}


/*====================
======Contact CSS=====
======================*/

#contact {
	overflow:hidden;
	position:relative;
	padding-bottom:85px;
}

#contact .contact-heading {
	padding-bottom:35px;
	position: relative;
	z-index: 10;
}

.pattern {
	height:100%;
	position:absolute;
	width:100%;
	z-index:1;
	left:0;
	bottom:0;
	background-image:url(../images/pattern.png);
	background-repeat:repeat;
	opacity:0.2;
}


.contact-address {
	background-color: #fff;
	height:390px;
	padding-top:85px
}

.contact-address .social-icons a i {
	border-radius:0;
	height:30px;
	line-height:inherit;
	width:30px;
	border-width:0;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	margin-right:auto;
}
.contact-address .social-icons i:hover {
	transform: scale(.9);
}
.social-icons a {
	color: #A2A2A2;
	padding: 6px;
	/* transition pour l'événements */
	transition: all 2s;
}
.social-icons a:hover {
  color: #fc7700;
  transform: rotate(1080deg);
  border-radius: 50%;
}
.contact-address .social-icons,
.contact-address address {
	z-index:2;
	position:relative;

}

.contact-address  p {
	font-weight:800;
	font-size:24px
}

.contact-address  p span {
	color:#fc7700;

}

#contact-form-section {
	padding:35px;
	background-color: #FFF;
	height:390px;
}
#contact-form-section .btn-primary {
	background-color:#fc7700;
	border-color:#f6f6f6;
	border-radius:0;
	padding:10px 35px;
	text-transform:uppercase;
	font-weight:800;
	transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

#contact-form-section .btn-primary:hover {
	background-color:#43484E
}

#contact-form input,
#contact-form textarea,
#contact-form .btn-primary  {
	position:relative;
	z-index:2;
}

#contact-form .name-field,
#contact-form .mail-field  {
	width:49%;
}

#contact-form .name-field {
	margin-right:2%;
	float:left
}

#contact-form .mail-field {

}

#contact-form-section .form-control {
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

#contact-form-section textarea {
	resize:none
}

#contact-form-section .form-control:focus {
	border-color: #fc7700;
	outline: 0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

element.style {
    height: 0;
    width: 750px;
}
